<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Home</title>
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>E-commerce Store</h1>    
            <nav>
                <ul>
                    <li><a href="../Home.html">Home</a></li>
                    <li><a href="../views/about.html">Sobre Nós</a></li>
                    <li><a href="../views/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="about-container">
        <main>
            <section>
                <h2>Projeto</h2>
                <p>Projeto desenvolvido para a disciplina de <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=MAC0350&codcur=45052&codhab=1" target="_blank">MAC0350</a> - Introdução ao Desenvolvimento de Sistemas de Software</p>
                <p>Instituto de Matemática e Estatística - IME (01/2024)</p>
                <p>Ministrada por <a href="https://lattes.ime.usp.br/mac/membro-2193972715230641.html" target="_blank">Paulo Roberto Miranda Meirelles</a></p>
            </section>
            <section>
                <h2>Criadores</h2>
                <ul>
                    <li>Marcelo Nascimento</li>
                    <li>Victor Nascimento Ribeiro</li>
                </ul>
            </section>
            <section>
                <h2>Código fonte</h2>
                <a href="https://github.com/MAC0350-ecommerce/ecommerce/" target="_blank">GitHub</a>
            </section>
        </main>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 E-commerce MAC0350 IME-USP</p>
        </div>
    </footer>

</body>
</html>
