<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/Home.css">
</head>
<body>
    <header>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
                <div class="container-fluid">
                    <a class="navbar-brand mx-auto">
                        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/5540/5540527.png" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sobre">Sobre Nós</a>
                            </li>
                            <li v-if="papel === 'ADMIN'" class="nav-item">
                                <a class="nav-link" href="/painel">Painel Admin</a>
                            </li>
                            <li v-if="!nome" class="nav-item">
                                <a class="nav-link" href="/login" id="login-button">Login</a>
                            </li>
                            <li v-if="nome" class="nav-item">
                                <span class="nav-link logout-btn" @click="disconnect">Desconectar</span>
                            </li>
                        </ul>
                    </div>
                    <div class="user">
                        <img id="display1" src="" class="user-img">
                    </div>
                </div>
            </nav>
        </div>        
    </header>


<div class="about-container">
    <main>
        <section>
            <h2>Projeto</h2>
            <p>Projeto desenvolvido para a disciplina de <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=MAC0350&codcur=45052&codhab=1" target="_blank">MAC0350</a> - Introdução ao Desenvolvimento de Sistemas de Software</p>
            <p>Universidade de São Paulo - USP</p>
            <p>Instituto de Matemática e Estatística - IME (01/2024)</p>
            <p>Ministrada por <a href="https://lattes.ime.usp.br/mac/membro-2193972715230641.html" target="_blank">Paulo Roberto Miranda Meirelles</a></p>
        </section>
        <section>
            <h2>Criadores</h2>
            <ul>
                <li>Marcelo Nascimento</li>
                <li>Victor Nascimento Ribeiro</li>
            </ul>
        </section>
        <section>
            <h2>Código fonte</h2>
            <a href="https://github.com/MAC0350-ecommerce/ecommerce/" target="_blank">
                <img width="80" height="45" src="../img/GitHub-Logo.png">
            </a>
            </section>
    </main>
</div>

<footer>
    <div class="container">
        <p>&copy; 2024 E-commerce MAC0350 IME-USP</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="../components/Home.js"></script>
</body>
</html>