<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/carrinho.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <header>
            <!-- navbar -->
            <nav class = "navbar navbar-expand-lg navbar-light bg-white py-4">
                <div class = "container">
                    <!-- logo -->
                    <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "/">
                        <img src = "/img/logo.png" alt = "site icon">
                        <span class = "text-uppercase fw-lighter ms-2">E-commerce</span>
                    </a>

                    <!-- botoes a direita -->
                    <div class = "order-lg-2 nav-btns d-flex align-items-center">
                        <a :href="nome ? '/perfil' : '/login'" class="ms-4">
                            <img id="display1" src="" alt="" class="user-img">
                        </a>
                        <div v-if="nome" class="row">
                            <div class="col">
                                <span class="ms-2"><strong>Bem-vindo</strong></span>
                                <br>
                                <span class="ms-2">{{ nome }}</span>
                            </div>
                        </div>
                    </div>
            
                    <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                        <span class = "navbar-toggler-icon"></span>
                    </button>

                    <!-- links -->
                    <div class = "collapse navbar-collapse order-lg-1 justify-content-center" id = "navMenu">
                        <ul class = "navbar-nav mx-auto text-center">
                            <li class = "nav-item px-2 py-2">
                                <a class = "nav-link text-uppercase text-dark" href = "/">Home</a>
                            </li>
                            <li class = "nav-item px-2 py-2">
                                <a class = "nav-link text-uppercase text-dark" href = "/sobre">Sobre Nós</a>
                            </li>
                            <li v-if="papel === 'ADMIN'" class = "nav-item px-2 py-2">
                                <a class="nav-link adm-btn text-uppercase text-dark" href="/painel">Painel Admin</a>
                            </li>
                            <li v-if="!nome" class = "nav-item px-2 py-2">
                                <a class="nav-link text-uppercase text-dark" href="/login" id="login-button">Login</a>
                            </li>
                            <li v-if="nome" class = "nav-item px-2 py-2">
                                <span class="nav-link text-uppercase text-dark" @click="disconnect" style="cursor: pointer;">Desconectar</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="loading" id="loading">Carregando dados...</div>

        <div class="about-container">
            <div class="container">
                <!-- titulo + botao limpar -->
                <div class="row">
                    <div class="col">
                        <h2>Carrinho de compras</h2>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-secondary" @click="limparCarrinho">
                            Limpar
                        </button>
                    </div>
                </div>

                <!-- carrinho -->
                <div id="cart" class="row mt-4">
                    <!--  -->
                </div>

                <!-- calculo preco total e frete -->
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" v-model="endereco" id="endereco" placeholder="Endereço de Entrega">
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-secondary" @click="calcularTotal">
                            Calcular
                        </button>
                    </div>
                </div>

                <!-- Valores -->
                <div id="frete" class="valor" style="margin-top: 20px;"></div>
                <div id="preco" class="valor"></div>
                <hr class="separator">
                <div class="row">
                    <div class="col">
                        <div id="total" class="valor"></div>
                    </div>
                    <div class="col text-end">
                        <button id="botao" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#modalImagem" @click="geraPedido">
                            Pagar
                        </button>
                    </div>
                </div>

               <!-- QR code -->
                <div class="modal fade" id="modalImagem">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="/img/QRcode.png" class="img-fluid" alt="QRcode">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../components/carrinho.js"></script>
</body>
</html>