<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div id="app">
        <div class="login-container">
            <a href="../Home.html">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home-Button">
            </a>
            <h2>Login</h2>
            <input type="text" v-model="username" placeholder="Username">
            <input type="password" v-model="password" placeholder="Senha">
            <button @click="login">Login</button>
            <h5>Não tem conta? <a href="../views/signup.html">Criar Conta</a></h5>
            <p v-if="errorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 E-commerce MAC0350 IME-USP</p>
    </footer>
    
    <script src="../components/login.js"></script>

</body>
</html>
