<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
<div id="app">
    <div class="login-container">
        <a href="/">
            <img src="../img/home_icon.png" alt="Home-Button" id="voltar">
        </a>
        <h2>Entrar</h2>
        <input type="text" v-model="login" placeholder="Login" id="login">
        <input type="password" v-model="password" placeholder="Senha" id="senha">
        <button @click="access" id="login-button">Entrar</button>
        <p>Não tem conta? <a href="/signup" id='signup-button'>Criar Conta</a></p>
        <div class="error-message">{{ errorMessage }}</div>
    </div>
</div>
<footer>
    <p>&copy; 2024 E-commerce MAC0350 IME-USP</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../components/login.js"></script>
</body>
</html>