body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;    
    margin: 0 auto;
    padding: 0 20px;
}

.user-img {
    width: 40px; 
    height: 40px;
    border-radius: 20%; 
    border: 1px solid rgba(0, 0, 0, 0.5);
    object-fit: cover; 
    object-position: center;
}


.about-container {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Catalogo */
.product-card {
    margin-bottom: 50px;
}

.product-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    margin-bottom: 5px;
}
.product-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-item img {
    max-height: 300px;
    object-fit: cover;
}
.carousel-indicators [data-bs-target] {
    background-color: #000;
}
.carousel-indicators .active {
    background-color: #fff;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}


/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 40px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.icone-carrinho {
    width: 40px; 
    height: 40px;
    margin-left: -15px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-brand {
    margin-right: auto;
}

.collapse.navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 0;
}

/* Animacao comprar */
@keyframes clickEffect {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.click-animation {
    animation: clickEffect 0.3s;
}